<ion-fab vertical="bottom" horizontal="end" style="bottom: 75px;" > 
  <ion-fab-button>
    <ion-icon name="chatbubble-ellipses-outline" id="open-modal" expand="block"></ion-icon>
  </ion-fab-button>
</ion-fab>

<ion-tabs>

  <ion-tab-bar slot="bottom">

    <ion-tab-button tab="feeds">
      <ion-icon name="people"></ion-icon>
      <ion-label>Feeds</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="map">
      <ion-icon name="location"></ion-icon>
      <ion-label>Map</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="about">
      <ion-icon name="information-circle"></ion-icon>
      <ion-label>About</ion-label>
    </ion-tab-button>



  </ion-tab-bar>

</ion-tabs>


<ion-modal trigger="open-modal" (willDismiss)="onWillDismiss($event)">
  <ng-template>
    <ion-header>
      <ion-toolbar>
        <ion-buttons slot="start">
          <ion-button (click)="cancel()">Cancel</ion-button>
        </ion-buttons>
        <ion-title>Chat</ion-title>
        <!-- <ion-buttons slot="end">
          <ion-button (click)="confirm()" [strong]="true">Confirm</ion-button>
        </ion-buttons> -->
      </ion-toolbar>
    </ion-header>
    <ion-content #content id="content" class="ion-padding">
      <div class="message-wrap">
        <div *ngFor="let message of messages; let i = index" class="message" [class.right]=" message.userIsSender === true">
          <div class="msg-detail">
            <div class="msg-content">
               <ng-container *ngIf="!isCheckArray(message.message)">
                <p *ngFor="let msg of message.message;"> {{msg.option}} </p>
              </ng-container>
              <ion-chip color="primary" (click)="onMessageClicked($event,i,message.text)" *ngIf="!isCheckArray(message.text)" >{{message.text}}</ion-chip>
              
              <div *ngIf="isCheckArray(message.text)">
                <ion-chip color="secondary" *ngFor="let msg of message.text" (click)="onMessageClicked($event,i,msg.option)"> {{msg.option}}</ion-chip> 
              </div> 
             

            </div>
          </div>
          
        </div>
      </div>
    </ion-content>
    <!-- <ion-footer id="bottom">
      <ion-toolbar>
      <ion-input #userInput placeholder="Type a message"></ion-input>
      <ion-button class="action-btn" (click)="sendMessage(userInput.value)">Send</ion-button>
      </ion-toolbar>
    </ion-footer> -->
  </ng-template>
</ion-modal>
