<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button text="" class="primary-clr" defaultHref="/welcome"></ion-back-button>
    </ion-buttons>
    <ion-title class="primary-clr">
      Standardized Assessment
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content class="ion-padding stretch-content">
  
  <ion-img class="padding-bottom" src="assets/img/cookie-theft.png"></ion-img>
  <ion-progress-bar class="custom-progress-bar" [value]="currentQuestionIndex / questions.length"></ion-progress-bar>
  <h2 class="primary-text">Q.{{currentQuestionIndex+1}} {{ currentQuestion }}</h2>
  <ion-list>
    <ion-radio-group (ionChange)="onAnswerSelect($event)">
      <ion-item *ngFor="let option of currentOptions">
        <ion-label class="secondary-text">{{ option.label }}  {{  option.value}}</ion-label>
        <ion-radio slot="start" [value]="option.value"></ion-radio>
      </ion-item>
    </ion-radio-group>
  </ion-list>
  <div class="button-row">
    <ion-button class="action-btn" fill="clear" (click)="prevQuestion()" [disabled]="isFirstQuestion" [hidden]="isLastQuestion">Previous</ion-button>
    <ion-button class="action-btn" fill="clear" (click)="nextQuestion()" [hidden]="isLastQuestion">Next</ion-button>
    <ion-item [hidden]="!isLastQuestion">
      <ion-label>Provide your consent to share this information to a third party API</ion-label>
      <ion-checkbox slot="start" (ionChange)="onConsentChange($event)"></ion-checkbox>
    </ion-item>
    <ion-button class="action-btn submit-btn" fill="clear" (click)="submitQuestionnaire()" [disabled]="!userConsent || isLoading" [hidden]="!isLastQuestion">Submit</ion-button>
    <div [hidden]="!isLastQuestion" class="spinner-container">
      <ion-spinner class="spinner" *ngIf="isLoading" name="crescent"></ion-spinner>
    </div>
  </div>
</ion-content>
  