.landing-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  padding: 20px;
  text-align: center;
  background: #F4F1EC;

  .logo {
    width: 150px;
    margin-bottom: 20px;
  }

  p {
    font-size: 1.2em;
    margin-bottom: 30px;
    color: #4A4A4A;
  }

  ion-button {
    //margin: 10px 0;
    width: 80%;
  }
  ion-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%; 
    padding: 0;
  }
}

.responsive-logo {
  width: 80%; 
  max-width: 500px; 
  height: auto; 
}

.action-btn {
    background-color: #D4A15A; // Autumn gold
    color: white;
    border-radius: 20px;
   // padding: 10px 10px;
  
    &:hover {
      background-color: #BF7B30; // Burnt orange
    }
}

.overlay {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 1;
}

.content-box {
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 15px;
  padding: 20px;
  margin-top: 50px;
  text-align: center;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
}

.title {
  font-family: 'Your-Aesthetic-Font', sans-serif;
  color: #5D3F2D; // Autumn brown
  margin: 0;
}

.message {
  font-family: 'Your-Aesthetic-Font', sans-serif;
  color: #A67B5C; // Soft autumn color
  margin: 10px 0;
}

.primary-clr {
  color : #6F4E37;
}

.secondary-clr{
  color: #D7CEC7;
}

.button-row {
  display: flex;
  justify-content: space-between;
  margin: 10px; 
}

.margin-top{
  padding-top : 50px;
}

.image-container {
  display: flex;
  justify-content: center; /* Centers the image horizontally */
  align-items: center; /* Centers the image vertically */

  /* Optional: Set a max-width to prevent excessive stretching */
  max-width: 100%; /* Adjust as needed */
  height: 200px; /* Fixed height, adjust as needed */

  overflow: hidden; /* Ensures the image does not overflow its container */
}

.image-container img {
  width: 150%; /* Stretch the image horizontally */
  height: auto; /* Automatically adjusts the height to maintain aspect ratio */
}




