
  <ion-header class="ion-no-border">
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-menu-button class="primary-clr"></ion-menu-button>
      </ion-buttons>
      <ion-title class="primary-clr">Recommendations</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content fullscreen class="page">
    
    <div class = "recommendation-container">
    <h3 class="ion-padding-top ion-padding-start primary-text">Your Score</h3>
    <round-progress
    [current]="score"
    [max]="max"
    [color]="gradient ? 'url(#gradient)' : color"
    [background]="background"
    [radius]="radius"
    [stroke]="stroke"
    [semicircle]="semicircle"
    [rounded]="rounded"
    [clockwise]="clockwise"
    [responsive]="responsive"
    [duration]="duration"
    [animation]="animation"
    [animationDelay]="animationDelay"/>
    <p>{{score}}/{{max}}</p>

    <ion-list >
      <ion-item class="primary-clr">Inferences: </ion-item>
      <ion-item *ngIf="score <= 3">
        <ul>
          <li *ngFor="let recommendation of recommendationArray.recommendation.high">
            {{recommendation}}
          </li>
        </ul>
      </ion-item> 
      <ion-item *ngIf="score > 3 && score <= 18">
        <ul>
          <li class="primary-clr" *ngFor="let recommendation of recommendationArray.recommendation.medium">
            {{recommendation}}
          </li>
        </ul>
      </ion-item> 
    <ion-item *ngIf="score > 18 && score <= 30">
     
      <ul>
        <h5 class="primary-clr">You are healthy, continue practising below to keep up the good health.</h5>
        <li class="primary-clr" *ngFor="let recommendation of recommendationArray.recommendation.no_impact">
          {{recommendation}}
        </li>
      </ul>
    </ion-item> 
  </ion-list> 

  <p class="primary-clr" *ngIf="questionerData.selectedQuestioner === 'Standardized'">Would you like to go for <a routerLink="/personalized">Personalized test</a> ?</p>
  <p class="primary-clr" *ngIf="questionerData.selectedQuestioner === 'Personalized'">Would you like to go for <a routerLink="/questionnaire">Standardized test</a> ?</p>

  </div>

 
</ion-content>
