<ion-header>
    <ion-toolbar>
      <ion-title>Welcome User</ion-title>
    </ion-toolbar>
  </ion-header>
  
  <ion-content fullscreen>
    <div class="landing-container">
      <img src="assets/img/logo.png" alt="App Logo" class="responsive-logo"/>
      <p>Navigating the complexities of dementia can be challenging. Our questionnaire is designed to provide you with valuable insights and guidance on your cognitive health. Taking the first step towards understanding is empowering and can make a significant difference.</p>
      <ion-button expand="block" routerLink="/questionnaire">Begin Now</ion-button>
    </div>
  </ion-content>
  